<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dragora.recipeapp.app">
  <application>
    <activity android:name="net.dragora.recipeapp.feature_browser.BrowserActivity">
      <intent-filter android:order="1">
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>

        <data
            android:host="dragora.net"
            android:pathPattern="/.*"
            android:scheme="https"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
